@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .dark {
    background-color: #18181a;
  }

  button:not(:disabled) {
    cursor: pointer !important;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}
